<form action="/create" method="POST">
    <h2>Create ling</h2>

    <div class="input-field">
        <input type="text" name="title">
        <label>Lingua title</label>
    </div>

    <button type="submit" class="btn">Create</button>
</form>
